# Use home.php as the default page
DirectoryIndex /public/home.php

# Error pages
ErrorDocument 404 /public/404.php
ErrorDocument 403 /public/403.php

# Prevent directory listing in all folders
Options -Indexes

# Turn on URL rewriting
RewriteEngine On

# Rewrite URLs to remove .php extension for public pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ /public/$1.php [L]

# Rewrite URLs for friendly URLs for public pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/$1.php [L]

# Rewrite URLs for admin pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^admin/(.*)$ /public/admin/$1.php [L]

# Rewrite URLs for friendly URLs for admin pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/(.*)$ /public/admin/$1.php [L]
