.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .navlink ul li:hover > ul,
  .navlink ul li.active > ul {
    display: block;
  }

  .navlink ul ul {
    position: absolute;
    top: 100%;
    display: none;
  }

 
  .active-link{
    background-color: rebeccapurple;
  }


  .newcard {
    transition: transform 0.3s ease;
  }
  
  .newcard:hover {
    transform: translateY(-5px); 
  }
  
 